.item-md ion-thumbnail {
    min-width: 70px;
    min-height: 70px;
}

ion-thumbnail h1, h2 {
    color: #d48e00;
}

ion-thumbnail h1 {
    line-height: 60px;
}

.place {
    border-radius: 50%;
    text-align: center;
    border-style: solid;
    border-color: #d48e00
}

.first-place {
    background: #FFD700;
}

.second-place {
    background: #C0C0C0;
}

.third-place {
    background: #A57164;
}