.item-md ion-thumbnail {
    min-width: 65px;
    min-height: 65px;
}

ion-thumbnail h1, h2 {
    color: #d48e00;
}

ion-thumbnail h1 {
    line-height: 50px;
}

.place {
    border-radius: 50%;
    text-align: center;
    border-style: solid;
    border-width: 6px;
    border-color: #d48e00
}

.first-place {
    background: #D4AF37;
    border-color: #FFDF00;
}

.second-place {
    background: #C0C0C0;
    border-color: #838996;
}

.third-place {
    background: #A57164;
    border-color: #CD7F32;
}

.first-place h1, .second-place h1, .third-place h1 {
    color: white
}